extends main.pug 

//-
  zde: 
    seznam knih studenta z pohledu studenta

append vars
  - const title = "Můj seznam četby"

append content 
  unless (data) 
    h3(class="error") Došlo k chybě
  if (data)
    ul(class="tileMenu list") 
      each book in data
        li(class=book.state)
          a(class="mainItem") 
            div
              i(class="fa-solid fa-book") &nbsp;
              span #{book.name}
            div(class="bookAuthor")
              i(class="fa-solid fa-user-pen")
              span #{book.firstName} #{book.lastName}
          a(href=book.link target="_blank" title="Databáze knih" class="fa-solid fa-globe")
          a(class="fa-solid fa-note-sticky" title=book.teachersNote)
          if book.state == "done"
            a(class="fa-solid fa-right-left" title="Požádat o výměnu")
          else 
            a(class="fa-solid fa-minus" title="Odebrat z mého seznamu")
