extends main.pug 

//-
  zde: 
    seznam žádostí o výměnu knihy

append vars
  - const title = "Žádosti o odebrání knihy"

append content 
  unless (data) 
      h3(class="error") Došlo k chybě
  if (data)
    ul(class="tileMenu list") 
      each remReq in data
        li 
          a(class="mainItem") 
            div
              i(class="fa-solid fa-user") &nbsp;
              span #{remReq.firstName} #{remReq.lastName} | #{remReq.cname}
            div(class="bookAuthor")
              i(class="fa-solid fa-book")
              span #{remReq.bname} 
          form(action="/teacher/accept", method="post") 
            input(type="hidden", name="studentId" value=remReq.id_student)
            input(type="hidden", name="bookId" value=remReq.id_book)
            button(type="submit" title="Potvrdit" class="fa-solid fa-check addrem ghover pointer")
          form(action="/teacher/deny", method="post") 
            input(type="hidden", name="studentId" value=remReq.id_student)
            input(type="hidden", name="bookId" value=remReq.id_book)
            button(type="submit" title="Zamítnout" class="fa-solid fa-x addrem rhover pointer")
  