extends layout.pug 

//-
  zde: 
    seznam dostupných knih k výběru

append vars
  - const title = "Seznam děl"

block title
  title #{title}

block mainContainer 
  div(class="content")
    h1 #{title}
    unless (data) 
      h3(class="error") Došlo k chybě
    if (data)
      ul(class="tileMenu list") 
        each book in data
          li 
            a(class="mainItem") 
              div
                i(class="fa-solid fa-book") &nbsp;
                span #{book.name}
              div(class="bookAuthor")
                i(class="fa-solid fa-user-pen")
                span #{book.firstName} #{book.lastName}
            a(href=book.link target="_blank" title="Databáze knih" class="fa-solid fa-globe")
            if session.role == "student"
              if book.id
                a(class="fa-solid fa-minus" title="Odebrat z mého seznamu")
              else
                a(class="fa-solid fa-plus" title="Přidat do mého seznamu")